/*
 *
 */
@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  src: url(./_files/TimesNewRoman.woff) format('woff'),
       url(./_files/TimesNewRoman.ttf) format('truetype');
}
