/*
 *
 */
@font-face {
  font-family: 'BM Dohyeon';
  font-style: normal;
  font-weight: 400;
  src: url(./_files/BMDOHYEON.woff) format('woff'),
       url(./_files/BMDOHYEON.ttf) format('truetype');
}
