/*
 *
 */
@font-face {
  font-family: 'Jeju Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(./_files/JejuMyeongjo-Regular.woff) format('woff'),
       url(./_files/JejuMyeongjo-Regular.ttf) format('truetype');
}
