/*
 *
 */
@font-face {
  font-family: 'TDc Poundingheart';
  font-style: normal;
  font-weight: 400;
  src: url(./_files/TDc_Poundingheart.woff) format('woff'),
       url(./_files/TDc_Poundingheart.ttf) format('truetype');
}
