/*
 *
 */
@font-face {
  font-family: 'TDc Bigeyes';
  font-style: normal;
  font-weight: 400;
  src: url(./_files/TDc_Bigeyes.woff) format('woff'),
       url(./_files/TDc_Bigeyes.ttf) format('truetype');
}
