/*
 *
 */
@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: 400;
  src: url(./_files/AvenirLT35Light.woff) format('woff'),
       url(./_files/AvenirLT35Light.otf) format('truetype');
}
